.logo {
  display: flex;
  background-color: #eeea01;
  width: 100px;
  min-height: 40px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  width: 10vw;
  border-radius: 1rem;
}
