.logo {
  display: flex;
  background-color: var(--main-bleuclair);
  width: 100px;
  min-height: 40px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  width: 10vw;
  border-radius: 1rem;
  background-color: var(--main-bleufoncé);
  color: white;
}
