* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  /* padding: 0.35rem; */
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  align-items: center;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(52, 96, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
