* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  height: 90%;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  align-items: center;
}

footer {
  width: 100%;
  min-height: 10vh;
  background-color: var(--main-bleufoncé);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
