.hero {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 82, 0);
  border-radius: 2rem;
}

.zero {
  display: flex;
  justify-content: space-between;
}

.zero div {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 145, 0);
  border-radius: 2rem;
}
