.menu {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
}

.navmenu ul {
  display: flex;
  list-style: none;
  background-color: var(--main-bleuclair);
  border-radius: 1rem;
  margin: 0 1rem;
}

.navmenu ul li {
  margin: 1rem;
}
